In [91]:
import pandas as pd
import numpy as np

In [92]:
!ls ../data

Games_1_subset.csv
Games_1_subset.cvs:Zone.Identifier
ssteam_table_App_ID_Info.csv
ssteam_table_App_ID_Info.csv:Zone.Identifier

In [93]:
games_df = pd.read_csv('../data/ssteam_table_App_ID_Info.csv',quotechar="'",
                       names=['appid','title','type','price','release_date','rating',
                                'required_age','is_multiplayer'])

games_df['title'] = games_df['title'].str.strip().str.upper()

In [94]:
games_df.sort_values(['required_age', 'price'],ascending=False).head(10)

,appid,title,type,price,release_date,rating,required_age,is_multiplayer
2855,206230,CLAN OF CHAMPIONS,game,39.99,2012-10-30 00:00:00,42,18,1
3428,214630,CALL OF DUTY: BLACK OPS - MAC EDITION,game,39.99,2012-09-27 00:00:00,-1,18,1
4419,233130,SHADOW WARRIOR,game,39.99,2013-09-26 00:00:00,73,18,0
4719,242050,ASSASSIN’S CREED® IV BLACK FLAG™,game,39.99,2013-11-19 00:00:00,-1,18,1
1749,50130,MAFIA II,game,29.99,2010-08-23 00:00:00,77,18,0
3684,218620,PAYDAY 2,game,29.99,2013-08-13 00:00:00,79,18,0
4979,249380,CARMAGEDDON: REINCARNATION,game,29.99,2014-03-27 00:00:00,-1,18,0
3429,214643,CALL OF DUTY®: BLACK OPS ANNIHILATION & ESCALA...,dlc,24.99,2012-11-15 00:00:00,-1,18,1
391,9340,COMPANY OF HEROES: OPPOSING FRONTS,game,19.99,2007-09-27 00:00:00,87,18,1
3685,218640,LUCIUS,game,19.99,2012-10-26 00:00:00,59,18,0

In [95]:
games_df[games_df['title'].str.contains('WEASEL')]

Empty DataFrame
Columns: [appid, title, type, price, release_date, rating, required_age, is_multiplayer]
Index: []

In [96]:
np.sort(games_df['title'].str[0].unique())

array(['/', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '<', 'A',
       'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N',
       'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
      dtype=object)

In [97]:
games_df['title'].astype('str')

0                                 COUNTER-STRIKE
1                          TEAM FORTRESS CLASSIC
2                                  DAY OF DEFEAT
3                             DEATHMATCH CLASSIC
4                      HALF-LIFE: OPPOSING FORCE
                          ...
8384     ROCKSMITH® 2014 – SHINEDOWN - “ENEMIES”
8385                      MAGIX MUSIC MAKER 2015
8386    LEGIONWOOD 2: RISE OF THE ETERNALS REALM
8387                         RETRO-PIXEL CASTLES
8388            OBLIVIOUS GARDEN ~CARMINA BURANA
Name: title, Length: 8389, dtype: object

In [98]:
games_df[(games_df['is_multiplayer'] == '1') & (games_df['rating'] != -1)].sort_values(['rating'],ascending=True).head(10)

,appid,title,type,price,release_date,rating,required_age,is_multiplayer
4184,226700,INFESTATION: SURVIVOR STORIES,game,14.99,2012-12-17 00:00:00,20,17,1
2489,200630,GETTYSBURG: ARMORED WARFARE,game,9.99,2012-03-27 00:00:00,22,0,1
2531,201510,FLATOUT 3: CHAOS & DESTRUCTION,game,29.99,2011-12-13 00:00:00,23,0,1
3219,210500,FRAY DEMO,demo,0.00,2012-11-12 00:00:00,27,0,1
3218,210490,FRAY: RELOADED EDITION,game,0.00,2012-06-19 00:00:00,27,0,1
811,22310,ROGUE WARRIOR,game,9.99,2009-12-01 00:00:00,29,17,1
4757,243320,REKOIL,game,14.99,2014-01-28 00:00:00,32,0,1
4543,236510,TAKEDOWN: RED SABRE,game,4.99,2014-02-10 00:00:00,34,0,1
269,6270,DUCATI WORLD CHAMPIONSHIP,game,4.99,2007-09-21 00:00:00,35,0,1
980,26300,DRUG WARS,game,4.99,2009-03-17 00:00:00,35,17,1

In [99]:
[games_df['title'].str.contains('WEASEL')]

[0       False
 1       False
 2       False
 3       False
 4       False
         ...
 8384    False
 8385    False
 8386    False
 8387    False
 8388    False
 Name: title, Length: 8389, dtype: bool]

In [100]:
col_names = ['steamid','appid','playtime_2weeks','playtime_forever','dateretrieved']
gamers_df = pd.read_csv('../data/Games_1_subset.csv',quotechar="'",names=col_names)

In [110]:
gamers_df

,steamid,appid,playtime_2weeks,playtime_forever,dateretrieved
0,76561198015117560,41500,NaN,1785.0,2013-06-25 08:26:33
1,76561198015117560,400,NaN,5.0,2013-06-25 08:26:33
2,76561198015117470,8600,NaN,5.0,2013-06-25 08:26:22
3,76561198015117470,8660,NaN,1.0,2013-06-25 08:26:22
4,76561198015117430,41500,NaN,1708.0,2013-06-25 08:26:18
...,...,...,...,...,...
5641558,76561198000496890,203810,NaN,74.0,2013-06-06 06:54:07
5641559,76561198000496890,41070,NaN,530.0,2013-06-06 06:54:07
5641560,76561198000496890,35720,NaN,430.0,2013-06-06 06:54:07
5641561,76561198000496890,620,NaN,787.0,2013-06-06 06:54:07
5641562,76561198000496890,12160,NaN,NaN,2013-06-06 06:54:07

In [117]:
top10_df = gamers_df.groupby('appid').agg({'playtime_forever':'mean', 'dateretrieved':'count'}).sort_values('playtime_forever')

In [118]:
top10_df

        playtime_forever  dateretrieved
appid
11250           0.000000            428
25920           0.000000            319
3030            0.000000              5
227260          0.000000             49
44650           0.039216            500
...                  ...            ...
218461               NaN             24
220823               NaN            146
224060               NaN             14
224360               NaN              9
229660               NaN            110

[2297 rows x 2 columns]

In [119]:
joined_df = top10_df.merge(games_df, left_index = True, right_on = 'appid')

In [120]:
joined_df.sort_values('playtime_forever', ascending = False).head(50)

,playtime_forever,dateretrieved,appid,title,type,price,release_date,rating,required_age,is_multiplayer
1772,18912.800000,7,51020,UNWELL MEL,game,9.99,2010-04-21 00:00:00,-1,0,0
0,15412.479330,78944,10,COUNTER-STRIKE,game,9.99,2000-11-01 00:00:00,-1,0,1
12,13232.578891,109006,240,COUNTER-STRIKE: SOURCE,game,19.99,2004-11-01 00:00:00,88,0,1
1287,11900.857143,19,36280,SUPER GRANNY COLLECTION,game,14.99,2009-07-17 00:00:00,-1,0,0
22,11559.270681,60030,440,TEAM FORTRESS 2,game,0.00,2007-10-10 00:00:00,92,0,1
427,10642.534455,42269,10190,CALL OF DUTY®: MODERN WARFARE® 2,game,19.99,2009-11-11 00:00:00,86,0,1
25,9242.817341,46064,570,DOTA 2,game,0.00,2013-07-09 00:00:00,90,0,1
3307,9166.428571,7,212160,VINDICTUS,game,0.00,2012-06-22 00:00:00,76,0,1
409,8621.365009,1126,9900,STAR TREK ONLINE,game,0.00,2012-01-31 00:00:00,66,0,1
350,8152.421882,2835,8500,EVE ONLINE,game,19.99,2010-12-15 00:00:00,88,0,1
1069,8119.133333,59,32120,CHAINZ 2: RELINKED,game,9.99,2009-07-13 00:00:00,-1,0,0
1381,7883.098449,3159,39120,RIFT,game,0.00,2011-03-01 00:00:00,84,0,1
210,7851.401600,30884,4000,GARRYS MOD,game,9.99,2006-11-29 00:00:00,-1,0,1
368,7617.918745,38760,8930,SID MEIERS CIVILIZATION® V,game,29.99,2010-09-21 00:00:00,90,0,1
438,7484.767737,69719,10500,EMPIRE: TOTAL WAR™,game,19.99,2009-03-03 00:00:00,90,0,1
2076,7292.094189,39055,72850,THE ELDER SCROLLS V: SKYRIM,game,19.99,2011-11-10 00:00:00,94,17,0
1349,7057.296296,32,38170,CRADLE OF ROME,game,9.99,2010-02-20 00:00:00,-1,0,0
2124,6588.346505,771,78000,BEJEWELED® 3,game,4.99,2010-12-07 00:00:00,82,0,0
2506,6551.453975,532,201020,NBA 2K12,game,19.99,2011-10-04 00:00:00,86,0,0
2002,6548.565460,591,65950,NBA 2K11,game,19.99,2010-10-06 00:00:00,82,0,0
1697,6527.954220,12707,48700,MOUNT & BLADE: WARBAND,game,19.99,2010-03-31 00:00:00,-1,0,1
873,6192.360542,3239,24010,TRAIN SIMULATOR 2014,game,0.00,2013-09-26 00:00:00,67,0,0
1440,6095.235589,670,40920,NBA 2K10,game,19.99,2009-10-12 00:00:00,85,0,0
1333,5913.179487,62,37970,JEWEL QUEST PACK,game,19.99,2009-08-24 00:00:00,-1,0,0
1286,5785.400000,19,36270,SUPER GRANNY COLLECTION,game,14.99,2009-07-17 00:00:00,-1,0,0
671,5643.542533,4942,17450,DRAGON AGE: ORIGINS,game,19.99,2009-11-05 00:00:00,91,17,0
1201,5531.099366,28950,34330,TOTAL WAR: SHOGUN 2,game,29.99,2011-03-15 00:00:00,-1,0,1
1498,5340.751286,19701,42690,CALL OF DUTY®: MODERN WARFARE® 3,game,39.99,2011-11-08 00:00:00,-1,17,1
2610,5234.417875,5401,203770,CRUSADER KINGS II,game,39.99,2012-02-14 00:00:00,82,0,1
960,5215.173554,371,25860,SWORD OF THE STARS: COMPLETE COLLECTION,game,9.99,2010-06-04 00:00:00,75,0,1
927,5180.181072,14377,24960,BATTLEFIELD: BAD COMPANY™ 2,game,19.99,2010-03-02 00:00:00,87,17,1
1166,5130.324062,22727,34030,NAPOLEON: TOTAL WAR™,game,14.99,2010-02-23 00:00:00,81,0,1
407,5095.342233,824,9880,CHAMPIONS ONLINE: FREE FOR ALL,game,0.00,2011-06-14 00:00:00,72,0,1
946,5060.320249,3729,25800,EUROPA UNIVERSALIS III COMPLETE,game,14.99,2009-02-04 00:00:00,83,0,1
4226,4990.333333,6,227400,DARKFALL UNHOLY WARS,game,14.95,2013-04-25 00:00:00,-1,18,0
3721,4950.340909,520,219600,NBA2K13,game,29.99,2012-10-30 00:00:00,90,0,1
655,4855.783760,2303,17020,GLOBAL AGENDA: FREE AGENT,game,0.00,2011-06-14 00:00:00,70,0,1
1638,4752.194444,150,46770,MAKING HISTORY II: THE WAR OF THE WORLD,game,19.99,2010-08-27 00:00:00,-1,0,1
189,4740.400000,261,3620,ZUMAS REVENGE!,game,4.99,2009-09-15 00:00:00,78,0,0
1504,4735.216975,26843,42710,CALL OF DUTY®: BLACK OPS,game,39.99,2010-11-09 00:00:00,81,17,1
1288,4644.125000,19,36290,SUPER GRANNY COLLECTION,game,14.99,2009-07-17 00:00:00,-1,0,0
24,4452.118905,64507,550,LEFT 4 DEAD 2,game,19.99,2009-11-16 00:00:00,89,0,1
822,4389.289716,20104,22380,FALLOUT: NEW VEGAS,game,9.99,2010-10-19 00:00:00,84,16,0
961,4208.998278,3393,25890,HEARTS OF IRON III,game,9.99,2009-08-07 00:00:00,77,0,1
360,4175.139618,6445,8800,CIVILIZATION IV: BEYOND THE SWORD,game,9.99,2007-07-24 00:00:00,86,0,0
1736,3765.151403,20823,49520,BORDERLANDS 2,game,19.99,2012-09-17 00:00:00,89,17,0
1124,3763.327922,308,33210,DAWN OF DISCOVERY™,game,9.99,2009-06-30 00:00:00,82,0,0
1939,3762.254342,2220,64000,MEN OF WAR: ASSAULT SQUAD,game,14.99,2011-02-24 00:00:00,77,0,1
177,3743.740933,313,3560,BEJEWELED TWIST,game,4.99,2008-11-18 00:00:00,78,0,0
1512,3721.683386,535,42850,ARSENAL OF DEMOCRACY: A HEARTS OF IRON GAME,game,9.99,2010-02-23 00:00:00,-1,0,1

In [126]:
joined_df['playtime_hours'] = joined_df['playtime_forever']/60

In [128]:
joined_df.sort_values('playtime_forever', ascending = False)[['playtime_forever', 'dateretrieved', 'title', 'playtime_hours']].head(50)

,playtime_forever,dateretrieved,title,playtime_hours
1772,18912.800000,7,UNWELL MEL,315.213333
0,15412.479330,78944,COUNTER-STRIKE,256.874655
12,13232.578891,109006,COUNTER-STRIKE: SOURCE,220.542982
1287,11900.857143,19,SUPER GRANNY COLLECTION,198.347619
22,11559.270681,60030,TEAM FORTRESS 2,192.654511
427,10642.534455,42269,CALL OF DUTY®: MODERN WARFARE® 2,177.375574
25,9242.817341,46064,DOTA 2,154.046956
3307,9166.428571,7,VINDICTUS,152.773810
409,8621.365009,1126,STAR TREK ONLINE,143.689417
350,8152.421882,2835,EVE ONLINE,135.873698
1069,8119.133333,59,CHAINZ 2: RELINKED,135.318889
1381,7883.098449,3159,RIFT,131.384974
210,7851.401600,30884,GARRYS MOD,130.856693
368,7617.918745,38760,SID MEIERS CIVILIZATION® V,126.965312
438,7484.767737,69719,EMPIRE: TOTAL WAR™,124.746129
2076,7292.094189,39055,THE ELDER SCROLLS V: SKYRIM,121.534903
1349,7057.296296,32,CRADLE OF ROME,117.621605
2124,6588.346505,771,BEJEWELED® 3,109.805775
2506,6551.453975,532,NBA 2K12,109.190900
2002,6548.565460,591,NBA 2K11,109.142758
1697,6527.954220,12707,MOUNT & BLADE: WARBAND,108.799237
873,6192.360542,3239,TRAIN SIMULATOR 2014,103.206009
1440,6095.235589,670,NBA 2K10,101.587260
1333,5913.179487,62,JEWEL QUEST PACK,98.552991
1286,5785.400000,19,SUPER GRANNY COLLECTION,96.423333
671,5643.542533,4942,DRAGON AGE: ORIGINS,94.059042
1201,5531.099366,28950,TOTAL WAR: SHOGUN 2,92.184989
1498,5340.751286,19701,CALL OF DUTY®: MODERN WARFARE® 3,89.012521
2610,5234.417875,5401,CRUSADER KINGS II,87.240298
960,5215.173554,371,SWORD OF THE STARS: COMPLETE COLLECTION,86.919559
927,5180.181072,14377,BATTLEFIELD: BAD COMPANY™ 2,86.336351
1166,5130.324062,22727,NAPOLEON: TOTAL WAR™,85.505401
407,5095.342233,824,CHAMPIONS ONLINE: FREE FOR ALL,84.922371
946,5060.320249,3729,EUROPA UNIVERSALIS III COMPLETE,84.338671
4226,4990.333333,6,DARKFALL UNHOLY WARS,83.172222
3721,4950.340909,520,NBA2K13,82.505682
655,4855.783760,2303,GLOBAL AGENDA: FREE AGENT,80.929729
1638,4752.194444,150,MAKING HISTORY II: THE WAR OF THE WORLD,79.203241
189,4740.400000,261,ZUMAS REVENGE!,79.006667
1504,4735.216975,26843,CALL OF DUTY®: BLACK OPS,78.920283
1288,4644.125000,19,SUPER GRANNY COLLECTION,77.402083
24,4452.118905,64507,LEFT 4 DEAD 2,74.201982
822,4389.289716,20104,FALLOUT: NEW VEGAS,73.154829
961,4208.998278,3393,HEARTS OF IRON III,70.149971
360,4175.139618,6445,CIVILIZATION IV: BEYOND THE SWORD,69.585660
1736,3765.151403,20823,BORDERLANDS 2,62.752523
1124,3763.327922,308,DAWN OF DISCOVERY™,62.722132
1939,3762.254342,2220,MEN OF WAR: ASSAULT SQUAD,62.704239
177,3743.740933,313,BEJEWELED TWIST,62.395682
1512,3721.683386,535,ARSENAL OF DEMOCRACY: A HEARTS OF IRON GAME,62.028056