In [3]:
import pandas as pd

In [5]:
import sqlalchemy as db

In [6]:
# SQLAlchemy connectable 
connection = db.create_engine('sqlite:////Users/degi/data/steam_300.sql').connect()

In [2]:
# Read the sql file
query = open('/Users/degi/data/steam_300.sql', 'r')

In [10]:
# connection == the connection to your database, in your case prob_db
#DF = pd.read_sql_query(query.read(),connection)
#query.close()

In [9]:
from io import StringIO
import re

def read_dump(dump_filename, target_table):
    sio = StringIO()
        
    fast_forward = True
    with open(dump_filename, 'rb') as f:
        for line in f:
            line = line.strip()
            print(line)
            if line.lower().startswith('insert') and target_table in line:
                fast_forward = False
            if fast_forward:
                continue
            data = re.findall('\([^\)]*\)', line)
            try:
                newline = data[0]
                newline = newline.strip(' ()')
                newline = newline.replace('`', '')
                sio.write(newline)
                sio.write("\n")
            except IndexError:
                pass
            if line.endswith(';'):
                break
    sio.pos = 0
    return sio

In [11]:
 import pandas as pd

food_min_filedata = read_dump('/Users/degi/data/steam_300.sql', 'App_ID_Info_Old')
#food_in_filedata = read_dump('mysqldumpexample', 'food_in')

#df_food_min = pd.read_csv(food_min_filedata)
#df_food_in = pd.read_csv(food_in_filedata)

TypeError: startswith first arg must be bytes or a tuple of bytes, not str

In [15]:
df = pd.read_csv('/Users/degi/data/steam_table_App_ID_Info.sql',lineterminator=')')

ParserError: Error tokenizing data. C error: Expected 9 fields in line 231, saw 10

In [70]:


with open("/Users/degi/data/App_ID_Info.txt", "rt") as fin:
    with open("/Users/degi/data/App_ID_Info.csv", "wt") as fout:
        for line in fin:
            fout.write(line.replace('),(', '\n').replace("\\'",""))

In [26]:
with open("/Users/degi/data/steam_table_App_ID_Info.sql", "rt") as fin:
    with open("/Users/degi/data/ssteam_table_App_ID_Info.csv", "wt") as fout:
        for line in fin:
            fout.write(line.replace('),(', '\n').replace("\\'",""))

In [71]:
games_df = pd.read_csv('/Users/degi/data/App_ID_Info.csv',quotechar="'",
                       names=['appid','title','type','price','release_date','rating',
                                'required_age','is_multiplayer'])

In [79]:
games_df.sort_values('title',ascending=False)

,appid,title,type,price,release_date,rating,required_age,is_multiplayer
3080,304000,theHunter: Wayfarer Starter Pack,dlc,14.99,2014-10-24 00:00:00,-1,0,1
8860,322920,theHunter: Primal,game,19.99,2015-03-31 00:00:00,49,0,1
3745,322360,theHunter: Pathfinder Starter Pack,dlc,31.99,2014-10-24 00:00:00,-1,0,1
4143,322361,theHunter : Trailrunner Starter Pack,dlc,49.99,2014-10-24 00:00:00,-1,0,1
13434,253710,theHunter,game,0.00,2014-06-03 00:00:00,-1,0,1
...,...,...,...,...,...,...,...,...
6616,392190,#SelfieTennis,game,19.99,2016-04-01 00:00:00,-1,0,0
2590,303720,#KILLALLZOMBIES,game,0.00,2016-04-29 00:00:00,-1,0,0
15987,449940,! That Bastard Is Trying To Steal Our Gold !,game,2.99,2016-03-03 00:00:00,-1,0,0
9197,215710,Fieldrunners 2,game,9.99,2013-01-10 00:00:00,73,0,0
16773,221660,Edna & Harvey: Harveys New Eyes Demo,demo,0.00,2012-10-16 00:00:00,75,0,0

In [1]:
!ls

README.md                   steam_file_line_lengths.txt
Untitled.ipynb              steam_insert_lines.txt
read_games.ipynb

In [59]:
line_len_df = pd.read_csv('steam_file_line_lengths.txt',names=['line length'])
line_len_df['line number'] = line_len_df.index +1
line_len_df.head()

   line length  line number
0           63            1
1            2            2
2           37            3
3           57            4
4           32            5

In [19]:
insert_lines_df = pd.read_csv('steam_insert_lines.txt',names=['grep return'])
insert_lines_df

                                             grep return
0       39:INSERT INTO `Achievement_Percentages` VALUES
1       40:INSERT INTO `Achievement_Percentages` VALUES
2       41:INSERT INTO `Achievement_Percentages` VALUES
3       42:INSERT INTO `Achievement_Percentages` VALUES
4       43:INSERT INTO `Achievement_Percentages` VALUES
...                                                  ...
166199          166615:INSERT INTO `Games_Daily` VALUES
166200          166616:INSERT INTO `Games_Daily` VALUES
166201          166617:INSERT INTO `Games_Daily` VALUES
166202          166618:INSERT INTO `Games_Daily` VALUES
166203          166619:INSERT INTO `Games_Daily` VALUES

[166204 rows x 1 columns]

In [25]:
insert_lines_df['line number'] = insert_lines_df['grep return'].str.split(':').str[0]
insert_lines_df['dataset'] = insert_lines_df['grep return'].str.split('`').str[1]

In [26]:
insert_lines_df

,grep return,line number,dataset
0,39:INSERT INTO `Achievement_Percentages` VALUES,39,Achievement_Percentages
1,40:INSERT INTO `Achievement_Percentages` VALUES,40,Achievement_Percentages
2,41:INSERT INTO `Achievement_Percentages` VALUES,41,Achievement_Percentages
3,42:INSERT INTO `Achievement_Percentages` VALUES,42,Achievement_Percentages
4,43:INSERT INTO `Achievement_Percentages` VALUES,43,Achievement_Percentages
...,...,...,...
166199,166615:INSERT INTO `Games_Daily` VALUES,166615,Games_Daily
166200,166616:INSERT INTO `Games_Daily` VALUES,166616,Games_Daily
166201,166617:INSERT INTO `Games_Daily` VALUES,166617,Games_Daily
166202,166618:INSERT INTO `Games_Daily` VALUES,166618,Games_Daily
166203,166619:INSERT INTO `Games_Daily` VALUES,166619,Games_Daily

In [38]:
dataset_lines_df = insert_lines_df[['line number','dataset']].copy()
dataset_lines_df['line number'] = dataset_lines_df['line number'].astype('int')
dataset_lines_df.set_index('line number', inplace=True)
dataset_lines_df

                             dataset
line number
39           Achievement_Percentages
40           Achievement_Percentages
41           Achievement_Percentages
42           Achievement_Percentages
43           Achievement_Percentages
...                              ...
166615                   Games_Daily
166616                   Games_Daily
166617                   Games_Daily
166618                   Games_Daily
166619                   Games_Daily

[166204 rows x 1 columns]

In [60]:
dataset_df = line_len_df.copy()
dataset_df = line_len_df.merge(dataset_lines_df,left_on='line number', 
                               right_on='line number',how='outer')
dataset_df.fillna('',inplace=True)
dataset_df['line number'] = dataset_df.index+1
dataset_df['line size mb'] = dataset_df['line length']*1e-6
dataset_df.head()

   line length  line number dataset  line size mb
0           63            1              0.000063
1            2            2              0.000002
2           37            3              0.000037
3           57            4              0.000057
4           32            5              0.000032

In [61]:
dataset_df['line size mb'].sum()

172136.40653399998

In [62]:
dataset_df.groupby('dataset').count()

                         line length  line number  line size mb
dataset
                                 428          428           428
Achievement_Percentages            6            6             6
App_ID_Info                        2            2             2
App_ID_Info_Old                    1            1             1
Friends                        36405        36405         36405
Games_1                        21099        21099         21099
Games_2                        38835        38835         38835
Games_Daily                     4663         4663          4663
Games_Developers                   1            1             1
Games_Developers_Old               1            1             1
Games_Genres                       1            1             1
Games_Genres_Old                   1            1             1
Games_Publishers                   1            1             1
Games_Publishers_Old               1            1             1
Groups                          3936         3936          3936
Player_Summaries               61251        61251         61251

In [66]:
dataset_size_df = dataset_df.groupby('dataset').agg({'line size mb':'sum'})
dataset_size_df['line size gb'] = dataset_size_df['line size mb']*0.001
dataset_size_df

                         line size mb  line size gb
dataset
                             0.012849      0.000013
Achievement_Percentages      5.585714      0.005586
App_ID_Info                  1.422180      0.001422
App_ID_Info_Old              0.679697      0.000680
Friends                  37703.342145     37.703342
Games_1                  21695.515784     21.695516
Games_2                  39924.752840     39.924753
Games_Daily               4792.897429      4.792897
Games_Developers             0.521226      0.000521
Games_Developers_Old         0.237895      0.000238
Games_Genres                 0.763634      0.000764
Games_Genres_Old             0.305008      0.000305
Games_Publishers             0.460625      0.000461
Games_Publishers_Old         0.219008      0.000219
Groups                    4036.683827      4.036684
Player_Summaries         63973.006673     63.973007

In [69]:
dataset_df[dataset_df['dataset'] == 'App_ID_Info']

    line length  line number      dataset  line size mb
73      1033494           74  App_ID_Info      1.033494
74       388686           75  App_ID_Info      0.388686

In [1]:
with open("/Users/degi/data/Games_1_subset.txt", "rt") as fin:
    with open("/Users/degi/data/Games_1_subset.cvs", "wt") as fout:
        for line in fin:
            fout.write(line.replace('),(', '\n').replace("\\'","").\
                       replace("INSERT INTO Games_1 VALUES ",'').\
                        replace('(','').replace(')','').replace(';',''))

FileNotFoundError: [Errno 2] No such file or directory: '/Users/degi/data/Games_1_subset.txt'

In [2]:
col_names = ['steamid','appid','playtime_2weeks','playtime_forever','dateretrieved']
games_df = pd.read_csv('/Users/degi/data/Games_1_subset.cvs',quotechar="'",names=col_names)

NameError: name 'pd' is not defined